@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply antialiased text-appText-body bg-background-default;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Playfair Display', serif;
    @apply text-appText-main;
  }
}